html,
body {
  font-family: Bahnschrift, serif;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background: dimgrey;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Nav styling */

.container-nav {
  background: dimgrey;
  border-radius: 5px;
}

.nav-item div {
  width: 100%;
  height: 100%;
  padding: 1% 10%;
}

.nav-item a {
  text-decoration: none;
  color: lightgray;
}

.nav-item .active {
  background-color: rgb(33, 36, 41);
  border-radius: 5px;
}

.nav-item .active a {
  color: white;

}

/* Video Background */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 100%;
}