
/* Body / Background */
@font-face {
  font-family: "T1Korium";
  src: url("../public/fonts/T1Korium-2Kg.woff2") format("woff2");
}

@media (orientation: landscape) {
  .bg-home {
    background: url('../public/bg-lg.png') center center fixed;
  }
}

@media (orientation: portrait) {
  .bg-home {
    background: url('../public/bg-sm.png') center center fixed;
  }
}

.bg-home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: .95;
}

.bg-transparent-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.15);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Nav styling */

.nav-item div {
  padding-bottom: 3%;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.nav-item div:not(.active) {
  background-color: #fff;
}

.nav-item a {
  color: black !important;
}

.nav-item .active {
  background-color: #000;
}

.nav-item .active a {
  color: white !important;
}

/* Title */

.container-title {
}

.container-title h1 {
  font-family: 'T1Korium';
  color: white;
}

.container-title .desktop-show {
  font-size: 25vh;
}

.container-title .mobile-show {
  font-size: 20vh;
  height: 15vh;
}

/* Buttons */

.btn {
  text-decoration: none !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}

.btn-highlight {
  color: white !important;
  background-image: linear-gradient(#f00, #ff00f5);
  border-color: white;
}

.btn-highlight:hover {
  color: white;
  border-color: black;
}

.btn-normal {
  color: black;
  background-color: white;
  border-color: red;
}

.btn-normal:hover {
  border-color: black;
}

/* Accordions */

.korium-title {
  text-align: center;
  font-family: T1Korium;
  font-size: 10vh;
}

.accordion-button {
  background-color: white;
  color: black;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white
}

.accordion-button:focus {
  border-color: initial;
  box-shadow: none;
}

.accordion-body Button a {
  color: black !important;
}

.accordion-collapse {
  background-color: #F1F1F1;
}

/* Video Guide */

.container-video div * {
  color: black;
  text-decoration: none !important;
}

/* Alines drawings */

.container-aline {
  background-color: #F1F1F1;
}

.container-card {
  height: 20vh;
}

.card {
  height: 100%;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  border-style: solid;
  border-color: dimgrey;
}

.modal-content {
  height: 90vh;
}

.modal-header {
  border-color: transparent;
}

@media (max-width: 576px) {
  .container-card {
    height: 75vw;
  }
  .modal-content {
    height: 65vh;
  }
}


/* Responsive stuff */

.container-bottom-buttons {
  margin-top: 30vh;
}

.btn-acc {
  font-size: 1rem;
}

.desktop-show {
  display: none;
}

@media (min-width: 768px) {
  .nav-item a {
    font-size: 2.5vh;
  }

  .desktop-show {
    display: initial;
  }
  .mobile-show {
    display: none;
  }
  .container-bottom-buttons {
    margin-top: 40vh;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}